<h1>Add a dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <% if @dose.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dose.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.select :ingredient_id, Ingredient.all.pluck(:name, :id)%>
  </div>
  <br>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to "back to cocktail", cocktail_path(@cocktail.id), class: 'btn btn-primary' %>
  </div>
<% end %>
